trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  dockerRepo: 'pjasthi/mavenapp'
  dockerUser: 'pjasthi'
  dockerPass: 'Azure@9076'

steps:
# 1. Build the Java Artifact (.war file)
- task: Maven@4
  displayName: 'Maven Package'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    publishJUnitResults: false

# 2. Build the Docker Image 
# Ensure your Dockerfile does: COPY target/*.war /usr/local/tomcat/webapps/
- script: |
    docker build -t $(dockerRepo):latest .
  displayName: 'Build Docker Image'

# 3. Install Trivy
- script: |
    curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
  displayName: 'Install Trivy'

# 4. Security Scan
- script: |
    trivy image --exit-code 1 --severity CRITICAL $(dockerRepo):latest
  displayName: 'Trivy Scan: Critical Vulnerabilities'

# 5. Push to Docker Hub
- script: |
    echo $(dockerPass) | docker login -u $(dockerUser) --password-stdin
    docker push $(dockerRepo):latest
  displayName: 'Push to Docker Hub'